@font-face {
  font-family: 'OpenSans-Regular';
  src: local('Open Sans'), url('../assets/fonts/OpenSans-Regular.ttf');
} 

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: local('Open Sans'), url('../assets/fonts/OpenSans-ExtraBold.ttf');
} 

@font-face {
  font-family: 'OpenSans-Bold';
  src: local('Open Sans'), url('../assets/fonts/OpenSans-Bold.ttf');
} 

