$dark: #0b0b0b;
$light: #ffffff;
$light-orange: #fda720;
$burning-orange: #fc6836;
$gray37: #5e5e5e;
$crusoe: #00692c;
$forest-green: #219740;
$white-smoke: #f4f4f4;
$silver: #c5c2c2;
$bg-light: #F5F5F5;
$green: #4caf50;
$orange: #ff9800;
$red: #F2453D;
$purple: #61459B;
$black87: rgba(0, 0, 0, 0.87);
$black64: rgba(0, 0, 0, 0.64);
$gray400: #BDBDBD;
$gray5: #E0E0E0;
