@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  font-family: 'OpenSans-Regular';
  font-weight: normal;
}

h5 {
  font-family: 'OpenSans-ExtraBold';
  font-weight: bold;
}

.background {
  background: linear-gradient(180deg,rgba(253, 167, 32, 0.1) 0.5%, rgba(252, 104, 54, 0.1) 66.96%, rgba(252, 104, 54, 0) 96.85%);
}