@import "functions";
@import "icons";
@import "variables";
@import "mixins";
@import "fonts";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-weight: normal;
}

h5 {
  font-family: "OpenSans-ExtraBold";
  font-weight: bold;
}

.background {
  background: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.f-12 {
  font-size: 12px;
}
.f-16 {
  font-size: 16px;
}
.header-logo {
  width: auto;
  padding: 30px 20px;
  text-align: center;
}
.header-logo > img {
  width: 200px;
}

.flex-column-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mx-13 {
  margin-left: 13px;
  margin-right: 13px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
.ml-55 {
  margin-left: 55px;
}
